In [10]:
def last_name(a):
    return a[-1]
name=last_name("yogesh")
print(name)

h

In [13]:
def odd_even(num):
    if num%2 == 0:
        return "Even"
    else:
        return "odd"

In [16]:
odd_even(2)

'Even'

In [17]:
odd_even(3)

'odd'

In [18]:
def odd_even(num):
    if num%2 == 0:
        return "Even"
    return "odd"

In [19]:
odd_even(2)

'Even'

In [20]:
odd_even(7)

'odd'

In [22]:
def is_even(num):
    if num%2 == 0:
        return True
    return False

In [23]:
is_even(4)

True

In [24]:
is_even(42)

True

In [25]:
is_even(43)

False

In [2]:
def is_even(num):
    return num%2 == 0

In [3]:
is_even(42)

True

In [4]:
is_even(47)

False

In [64]:
def i(num1,num2):
    if num1>num2:
        return num1
    return num2
num1=int(input(""))
num2=int(input(""))
print(f"{i(num1,num2)} is greater")

45
32
45 is greater

In [4]:
def lst(l):
    lit = []
    for i in l:
        lit.append(i**2)
    return lit
it= list(range(0,11))
print(lst(it))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
number=input("enter some numbers comma saperated: ").split(",")
for i in number:
    print(int(i)**2)

enter some numbers comma saperated: 23,42,45,64,11,22,3,5,52
529
1764
2025
4096
121
484
9
25
2704

In [7]:
number = [1,2,3,4,5,6,7,8,9,10]
def square(num):
    square_number = [ ]
    for i in num:
        square_number.append(i*i)
    return square_number
print(square(number))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [170]:
def a_list(lst):
    return [i for i in lst[::-1]]
print(a_list(['Yogesh',23,'ankush',25]))

[25, 'ankush', 23, 'Yogesh']

In [18]:
inkpink_list = ['yogesh','Ankush',2,4,5]
def ankush(num):
    output = []
    for i in range(len(num)):
        list_poped = num.pop()
        output.append(list_poped)
    return output
print(ankush(inkpink_list))

[5, 4, 2, 'Ankush', 'yogesh']

In [9]:
input_list = ['yogesh','ankush',3,5,7]
def r_list(lst):
    output = []
    for i in range(len(lst)):
        input_poped = lst.pop()
        output.append(input_poped)
    return output
print(r_list(input_list))

[7, 5, 3, 'ankush', 'yogesh']

In [26]:
input_list = ['abc','bcd','efg']
def r_list(lst):
    output = []
    for i in lst:
        output.append(i[::-1])
    return output
print(r_list(input_list))

['cba', 'dcb', 'gfe']

In [1]:
input_list = [1,2,3,4,5,6,7,8,9,10]
def even_odd(num):
    even_list = []
    odd_list = []
    for i in num:
        if i%2 == 0:
            even_list.append(i)
        else:
            i%2 != 0
            odd_list.append(i)
        even_odd_list = [even_list,odd_list]
    return even_odd_list
print(even_odd(input_list))

[[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]]

In [55]:
def common(a,b):
    output = []
    for i in a:
        if i in b:
            output.append(i)
    return output
print(common([1,3,634,43,4,6,7,9,0],[1,3,4556,678,96,57,9,7,6,5]))

[1, 3, 6, 7, 9]

In [60]:
def func(lst):
    output = 0
    for i in lst:
        if type(i) == list:
            output += 1
    return output
input_list = [1,2,3,[4,5,6],[7,8,9],[10,11]]
print(func(input_list))

3

In [19]:
def a_func(n):
    cubes = {}
    for i in range(1,n+1):
        cubes[i] = i**3        
    return cubes
print(a_func(10))

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [17]:
def cube_return(a):
    cube = {}
    for i in range(1,a+1):
        cube[i] = i*i*i
    return cube

limit = int(input("enter a range: "))
print(cube_return(limit))

enter a range: 4
{1: 1, 2: 8, 3: 27, 4: 64}

In [5]:
dic = {}
dic['name'] = input("enter your name : ")
dic['age'] = input('enter your age : ')
dic['fav_movies'] = input('enter your fav_movies : '.split(','))
dic['fav_music'] = input('enter you fav_music : '.split(','))
print(dic)
for keys,values in dic.items():
    print(f'{keys}:{values}')

enter your name : Yogesh
enter your age : 23
['enter your fav_movies : ']coco, rush
['enter you fav_music : ']lahoriye, laung lachi
{'name': 'Yogesh', 'age': '23', 'fav_movies': 'coco, rush', 'fav_music': 'lahoriye, laung lachi'}
name:Yogesh
age:23
fav_movies:coco, rush
fav_music:lahoriye, laung lachi

In [5]:
dic = {}
dic['name'] = input("enter your name : ")
dic['age'] = input('enter your age : ')
dic['fav_movies'] = input('enter your fav_movies : ').split(',')
dic['fav_music'] = input('enter you fav_music : ').split(',')

for keys,values in dic.items():
    print(f'{keys}:{values}')

enter your name : Yogesh
enter your age : 23
enter your fav_movies : coco, kung fu panda
enter you fav_music : laung lachi, lahoriye, pyscho saiyan
name:Yogesh
age:23
fav_movies:['coco', ' kung fu panda']
fav_music:['laung lachi', ' lahoriye', ' pyscho saiyan']

In [160]:
def r_list(strng):
    return [i[::-1] for i in strng]
print(r_list(['ankush','yogesh']))

['hsukna', 'hsegoy']

In [74]:
def str_list(lst):
    return [str(i) for i in lst if (type(i) == int or type(i) == float)]
print(str_list([True,False,'yogesh',3.0,2,3]))

['3.0', '2', '3']

In [72]:
def str_list1(nums):
    return [i for i in nums if (type(i) != float and type(i) != int)]
print(str_list1(['yogesh', 2, True , 3.0, False]))

['yogesh', True, False]

In [30]:
def even_odd(even,odd):
    return [i for i in even if i%2 == 0 ],[i for i in odd if i%2 != 0]
print(even_odd(range(1,11),range(1,11)))

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [6]:
print([list(range(1,4)) for i in range(3)])

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [17]:
print([i if (i%2 == 0) else 'odd' for i in range(1,11)])

['odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [93]:
print([i*2 if (i%2 == 0) else -i for i in range(1,11)])

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [88]:
def square(num):
    return {i:i**2 for i in num}
print(square(range(1,11)))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [81]:
even = [str(i) for i in range(1,11) if i%2 == 0]
odd = [str(i) for i in range(1,11) if i%2 != 0]
print("Even  "+'  '.join(even))
print("Odd  "+'  '.join(odd))

Even  2  4  6  8  10
Odd  1  3  5  7  9

In [83]:
evens = [str(x) for x in range(10) if x%2 == 0]
odds = [str(x) for x in range(10) if x%2 == 1]
print("Evens\n" + "\n".join(evens))
print("Odds\n" + "\n".join(odds))

Evens
0
2
4
6
8
Odds
1
3
5
7
9

In [119]:
#for writing square of { } is :
def square(num):
    return {f'square of {i} is':i**2 for i in num}
print(square(range(1,11)))

{'square of 1 is': 1, 'square of 2 is': 4, 'square of 3 is': 9, 'square of 4 is': 16, 'square of 5 is': 25, 'square of 6 is': 36, 'square of 7 is': 49, 'square of 8 is': 64, 'square of 9 is': 81, 'square of 10 is': 100}

In [5]:
#for writing square of { } is :(in different line)
sq = {f'square of {i} is':i**2 for i in range(1,11)}
for k,v in sq.items():
    print(f"{k} : {v}")

square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16
square of 5 is : 25
square of 6 is : 36
square of 7 is : 49
square of 8 is : 64
square of 9 is : 81
square of 10 is : 100

In [30]:
name = "yogesh nandal"
print({i:name.count(i) for i in name})

{'y': 1, 'o': 1, 'g': 1, 'e': 1, 's': 1, 'h': 1, ' ': 1, 'n': 2, 'a': 2, 'd': 1, 'l': 1}

In [34]:
print({i:'odd' if (i%2 != 0) else 'even' for i in range(0,11)})

{0: 'even', 1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

In [37]:
print({i**2 for i in range(1,11)})

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [41]:
names = ["yogesh","ankush",'honey','swati','monty']
print({i[0] for i in names})

{'a', 'm', 's', 'h', 'y'}

In [64]:
def num(*args):
    total = 0
    for i in args:
        total += i
    return total
print(num(21325,23123,545457,7874543,234267))

8698715

In [87]:
def num(*args):
    total = 0
    return ((total+i for i in args))
nums = (12,34,56,6)
print(num(*nums))

<generator object num.<locals>.<genexpr> at 0x000001AC74A8C480>

In [83]:
def mul(*args):
    multi = 1
    for i in args:
        multi *= i
    return multi
print(mul(3,4,5))

60

In [85]:
# for using simple parameter like(num) with *args
def multi(num, *args):
    total = 1
    for i in args:
        total*=i
    return total
print(multi(3,4,5))#as we can see here 3 is selected as num and not counted to multiply in args
#Note:- we cannot use num after args we can only use it before args
# note 2 :- we can select as many nums as we want

20

In [89]:
def multi(num, *args): #this is called parameters
    total = 1
    for i in args:
        total*=i
    return total
nums = (3,4,5)
print(multi(*nums))#this is called arguments # here as we can see that by using *(before nums) we can unpack the tuple which will create error if we don't do this

20

In [116]:
def power(num,*args):
    if args:
            return [i**num for i in args]
    else:
        return "u haven't provided any arge"
nums = (2,4,5)
print(power(3,*nums))

[8, 64, 125]

In [121]:
a=int(input("enter a number: "))
b=list(input("enter a list of numbers: ").split(","))
def s_l(num, *args):
	if num or args:
		return [int(i)**num for i in args]
	else:
		print("you didn't provide any args")
print(s_l(a,*b))

enter a number: 2
enter a list of numbers: 2,3
[4, 9]

In [213]:
def a_list(lst, **kwargs):
    if kwargs.get('r_str'):
        return [i[::-1].title() for i in lst[::-1]]
    else:
        return [i.title() for i in lst]
city_names = ['delhi','mumbai']
print(a_list(city_names, r_str = True))

['Iabmum', 'Ihled']

In [210]:
def a_list(lst):
        return [i[::-1].title() for i in lst[::-1]]
names_list = ['delhi','mumbai']
print(a_list(names_list))

['Iabmum', 'Ihled']

In [214]:
add = lambda a,b : a+b
print(add(56,65))

121

In [215]:
multiply = lambda a,b : a*b
print(multiply(56,65))

3640

In [217]:
minus = lambda a,b,c : (a+b)-c
print(minus(56,65,83))

38

In [225]:
cube = lambda a : a**3
print(cube(45))

91125

In [228]:
True_False = lambda s : len(s) > 3
print(True_False('abcd'))

True

In [229]:
True_False = lambda s : True if len(s) > 3 else False
print(True_False('abcd'))

True

In [12]:
# program to get a input from a user to check that user give x,o as a input
def player_input():
    marker = ' '
    #keep asking player 1 to choose x or o
    while marker != 'x' and marker != 'o':
        marker = input('Player 1, choose X or O: ')
    # assign player 2, the opposite marker
    player1 = marker
    if player1 == 'x':
        player2 = 'o'
    else:
        player2 = 'x'        
    return(player1, player2)
print(player_input())

Player 1, choose X or O: o
('o', 'x')

In [6]:
#without enumerate function
names = ['diksha','manisha','anjali','parisha']
lst = 0
for name in names:
    print(f'{lst}---->{name}')
    lst += 1

0---->diksha
1---->manisha
2---->anjali
3---->parisha

In [7]:
# With enumerate function
names = ['yogesh','ankush','nandal']
lst = 0
for lst,name in enumerate(names):
    print(f'{lst}---->{name}')

0---->yogesh
1---->ankush
2---->nandal

In [16]:
# enumerate function to find postion of a string in a list
names = ['kamal','pardeep','roshan','vaibhav']
lst = 0
def emu_func(lst,name):
    for king,names_1 in enumerate(lst):
        if names_1 == name:
            return king
    return -1
print(emu_func(names,'vaibhav'))
print(emu_func(names,'ankush'))

3
-1

In [27]:
# with lamda func in map
list_len = ['abc','abcd','abcde']
length = map(lambda a : len(a), list_len)
for i in length:
    print(i)

3
4
5

In [2]:
# without lamda func but only with default func such as len in map
list_len = ['abc','abcd','abcde']
length = map(len, list_len)
for i in length:
    print(i)

# note:- In map func we can use loop only once for eg:
for j in length:
    print(j) # as we can see it didn't work

3
4
5

In [6]:
# with list we can use as many loops as we want for eg:
list_len = ['abc','abcd','abcde']
length = list(map(lambda a : len(a), list_len))
print(length)

for i in length:
    print(i)
    
for j in length:
    print(j)

[3, 4, 5]
3
4
5
3
4
5

In [11]:
# with map func
numbers = [3,2,1,6,5,4,8,7,9,10]
lst = list(map(lambda a:a%2==0, numbers))
print(lst)
# Note:- map func. can perform any operation like add, subtract, multiply or any other operations

[False, True, False, True, False, True, True, False, False, True]

In [12]:
# with filter func
numbers = [3,2,1,6,5,4,8,7,9,10]
lst = list(filter(lambda a:a%2==0, numbers))
print(lst)
#note:- filter func. returns another list from a list after filtering it(by checking bolean value in list that it's true or false) if it's true it will return all true values, It can't perfome add, multiply, square or any other operations.

[2, 6, 4, 8, 10]

In [62]:
from functools import reduce
# (filter) then # (map) then finally (reduce) for eg:
nums = [3,4,8,5,2,1,3,5,6]
# we have to find odd_numbers in this list:
# so we will use filter func. to filter our list:
odd_no = list(filter(lambda i : i%2 != 0, nums))
print(odd_no)
# Now we will use map func. to perform +23 in all our list:-
add_23 = list(map(lambda i : i+23, odd_no))
print(add_23)
# Now we will subtract all values with each other by reduce method:-
minus = reduce(lambda i,j : i-j, add_23)
print(minus)

[3, 5, 1, 3, 5]
[26, 28, 24, 26, 28]
-80

In [15]:
# Create a func. where a list will take any no. of lists and will divide lists 1st no. with 3 and try to do this with lambda func.
# with lots of code:
#for 2 lists average:
def av_func(l1,l2):
    av_list = [ ]
    for pair in zip(l1,l2):
        av_list.append(sum(pair)/len(pair))
    return av_list
print(av_func([1,2,3],[7,8,9]))

[4.0, 5.0, 6.0]

In [16]:
# Create a func. where a list will take any no. of lists and will divide lists 1st no. with 3 and try to do this with lambda func.
# with lots of code:
#for infinte lists average:
def av_funct(*args):
    av_list1 = [ ]
    for pair in zip(*args):
        av_list1.append(sum(pair)/len(pair))
    return av_list1
print(av_funct([1,2,3],[7,8,9],[4,5,6],[10,11,12]))

[5.5, 6.5, 7.5]

In [20]:
# Create a func. where a list will take any no. of lists and will divide lists 1st no. with 3 and try to do this with lambda func.
# with one line of code:
#for infinte lists average:


#def av_funct(*args):
    #av_list1 = [ ]
    #for pair in zip(*args):
        #av_list1.append(sum(pair)/len(pair))
    #return av_list1
#print(av_funct([1,2,3],[7,8,9],[4,5,6],[10,11,12]))   

#convert this code in one line:
av_function = lambda *args : [sum(pair)/len(pair) for pair in zip(*args)]
print(av_function([1,2,3],[7,8,9],[4,5,6],[10,11,12]))

[5.5, 6.5, 7.5]

In [25]:
# Another way of doing this
# av_function = lambda *args : [sum(pair)/len(pair) for pair in zip(*args)]

a = lambda *args : list(map(lambda i:sum(i)//len(i),list(zip(*args))))
print(a([1,2,3],[7,8,9],[4,5,6],[10,11,12]))


print(list(sum(pair)/len(pair) for pair in [*zip([1,2,3],[7,8,9],[4,5,6],[10,11,12])]))


print(list(map(lambda a: sum(a)/len(a),zip([1,2,3],[7,8,9],[4,5,6],[10,11,12]))))

[5, 6, 7]
[5.5, 6.5, 7.5]
[5.5, 6.5, 7.5]

In [21]:
# To check whether all numbers in list_1 (numbers1) is even or not:
numbers1 = [2,4,6,8,10]
numbers2 = [1,2,3,4,5,6]
alleven1 = [i%2 == 0 for i in numbers1]
alleven2 = [i%2 == 0 for i in numbers2]
print(alleven1)
print(alleven2)
# Now we can use all function to check if our all input values are true or not and give as single output
print(all(alleven1))
print(all(alleven2))

[True, True, True, True, True]
[False, True, False, True, False, True]
True
False

In [24]:
# To check whether any number in list_1 (numbers1) is even or not:
numbers1 = [1,3,5,7,9]
numbers2 = [1,2,3,4,5,6]
anyeven1 = [i%2 == 0 for i in numbers1]
anyeven2 = [i%2 == 0 for i in numbers2]
print(anyeven1)
print(anyeven2)
# Now we can use all function to check if our all input values are true or not and give as single output
print(any(anyeven1))
print(any(anyeven2))

[False, False, False, False, False]
[False, True, False, True, False, True]
False
True

In [1]:
names = ['yogesh','ankush','swatinandal','ab']
print(max(len(names)))

TypeError: 'int' object is not iterable

In [26]:
# global name space vs enclosing name space vs local space name:
x = 50  # It's a global name space, so every variable that is assigned before func. is a global variable
def a_func():
    x = 'yogesh' # it's a enclosing variable it comes after global but before local
    def a_fun():
        x = 'ankush' # It's a local variable that will excecute 1st
        print('hello ' + x)
    a_fun()

In [27]:
x

50

In [28]:
a_func()

hello ankush

In [37]:
# global name space vs enclosing name space vs local space name:
x = 'Swati' # It's a global name space, so every variable that is assigned before func. is a global variable
def a_func():
    x = 'yogesh' # it's a enclosing variable it comes after global but before local
    def a_fun():
       # x = 'ankush' # It's a local variable that will excecute 1st
        print('hello ' + x)
    a_fun()

In [38]:
x

'Swati'

In [39]:
a_func()

hello yogesh

In [40]:
# global name space vs enclosing name space vs local space name:
x = 'swati' # It's a global name space, so every variable that is assigned before func. is a global variable
def a_func():
    #x = 'yogesh' # it's a enclosing variable it comes after global but before local
    def a_fun():
       # x = 'ankush' # It's a local variable that will excecute 1st
        print('hello ' + x)
    a_fun()

In [41]:
x

'swati'

In [42]:
a_func()

hello swati